<footer>
  <div [ngClass]="'container'">
    <div [ngClass]="'row'">
    <div [ngClass]="'col-md-8'">
      <ul>
        <li>
          <p>About NoidaGeeks Team &#8810;/&#8811; </p>
        </li>
        <li>
          <picture>
            <img src="{{amitkumarPng}}" alt="Amit Kumar"/>
          </picture>          
          <a href="https://www.linkedin.com/in/amitsingh84/" target="_blank">
            <span>Amit Kumar</span>
            <img src="{{linkedinPng}}" alt="Linkedin"/>
          </a>
        </li>
        <li>
          <picture>
            <img src="{{debrajrayPng}}" alt="Debraj Ray"/>
          </picture>      
          <a href="https://www.linkedin.com/in/debraj-ray/" target="_blank">
            <span>Debraj Ray</span>
            <img src="{{linkedinPng}}" alt="Linkedin"/>
          </a>
        </li>
      </ul>

    </div>

    <div [ngClass]="'col-md-4 footer-text'">
      <strong>{{connectedWorldHackathon}}</strong>
      <p>Copyright © 2018 </p>
      <p>{{manoranjanAppName}} </p>
    </div>
  </div>
  </div>   
</footer>
